// card featured
.card-f {
  padding: 1rem;

  &.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // card variant 2
  &.card-f-2 {
    &.flex {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  // card background white
  &-bg {
    &-white {
      background-color: $s-color-white;
      border: 1px solid $s-color-border;
      border-radius: .5rem;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
      padding: 40px;
    }
  }

  .play {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid $s-color-primary-200;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
      width: 36px;
      height: 36px;
      border-radius: 100px;
      background-color: $s-color-primary;
      display: flex;
      justify-content: center;
      align-items: center;

      .fas {
        color: $s-color-white;
      }
    }
  }

  h4 {
    line-height: 1.33rem !important;
  }
}

// card customer review
.c-customer-review {
  padding-left: 20px;
  padding-right: 20px;

  &-heading {
    img {
      height: 32px;
    }

    .star {
      display: flex;
      li {
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &-body {
    margin-top: 32px;

    p {
      font-size: 18px;
      line-height: 32px;
    }
  }

  &-meta {
    margin-top: 32px;
    display: flex;
    align-items: center;

    .user {
      margin-right: 12px;
      width: 40px;
      height: 40px;
      border-radius: 100px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100px;
        object-fit: cover;
      }
    }

    .meta {
      p {
        line-height: normal !important;
        margin-bottom: 0;
      }

      span {
        img {
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }

        i {
          font-size: 14px;
        }
      }
    }
  }
}

// card article
.card-article {
  border-radius: .5rem;

  // card article type 2
  &.card-article-2 {
    .card-img-overlay {
      padding: 32px;

      h3 {
        font-size: 24px !important;
        line-height: 32px !important;
      }
    }
  }

  // card article type 3
  &.card-article-3 {
    .card-img-overlay {
      padding: 32px;
      justify-content: center !important;

      h3 {
        font-size: 24px !important;
        line-height: 32px !important;
      }

      .link {
        width: 100%;
        display: flex;
        justify-content: center;

        a {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }

  // card article 4
  &.card-article-4 {
    .card-article-heading {
      a {
        max-height: 230px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
    .card-article-body {
      padding: 32px;

      .meta {
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;

        p {
          display: flex;
          align-items: center;

          .fa-circle {
            font-size: 4px;
            margin-left: 8px;
            margin-right: 8px;
          }
        }

        .user {
          width: 48px;
          height: 48px;
          border-radius: 100px;
          border: 2px solid $s-color-white;
          position: relative;
          margin-top: -55px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100px;
          }
        }
      }
    }
  }

  img {
    border-radius: .5rem;
  }

  .card-img-overlay {
    background-image: linear-gradient(to bottom, rgba(24, 59, 86, 0), rgba(22, 49, 70, 0.45) 45%, #152532);
    border-radius: .5rem;
    padding: 66px 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .user {
      width: 48px;
      height: 48px;
      border-radius: 100px;
      border: 2px solid $s-color-white;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100px;
      }
    }

    h3 {
      font-size: 36px !important;
      line-height: 48px !important;
      letter-spacing: .2px;
      margin-bottom: 0;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .card-f {
    &.card-f-2 {
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center;

      .card-f-heading {
        margin-right: 0;

        .ic {
          margin-bottom: 32px;
        }
      }
    }
  }

  .c-customer-review {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .c-customer-review-meta{
    .meta{
      p{
        font-size: 14px;
      }
      span{
        font-size: 12px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-f {
    &.card-f-2 {
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center;

      .card-f-heading {
        margin-right: 0;

        .ic {
          margin-bottom: 32px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-f {
    &.card-f-2 {
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center;

      .card-f-heading {
        margin-right: 0;

        .ic {
          margin-bottom: 32px;
        }
      }
    }
  }
}