@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

.navbar {background: transparent;}

img{
  display: block;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
  border: 0px;
  background: #C4C4C4;
}
//div{
//  display: flex;
//  align-items: center;
//  vertical-align: middle;
//  position: center;
//  margin: auto;
//}
//h1{
//  font-family: "MarkPro-TestFont";
//  font-style: normal;
//}

.home-container{
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  align-items: center;
  font-family: 'Montserrat', Avenir;
  .hero-hidden-xl-block{
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    align-items: center;
    font-family: 'Montserrat', Avenir;
    font-style: normal;
    font-weight: 300;
  }
}



//SAVING RENTERS MONEY
.card.text-white{
  //background-image: url("../assets/website_photo.jpg");
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  //img.card-img{
  //  width: 1440px;
  //  height: 741px;
  //}
  .card-img-overlay{
    background: rgba(24, 59, 86, 0.65);
    overflow: hidden;
    width: 100%;
    position: center;
    padding: 9%;
    display: flex;
    align-items: center;
    vertical-align:middle;
    .container{
      width: 100%;
      padding: 0px;
      //margin-top:50%;
      //margin-bottom:50%;
      vertical-align:middle;
      display: flex;
      align-items:center;
      position: center;
      .row{
        //background: #F2607B;
        width: 100%;
        heigt: 100%;
        padding: 0px;
        display: flex;
        //margin-top:50%;
        //margin-bottom:50%;
        vertical-align:middle;
        display: flex;
        align-items:center;
        position: center;
        .left-col-lg-7-col-md-12-col-sm-12{
          overflow: hidden;
          width: 60%;
          vertical-align:middle;
          left: 0px;
          padding: 0px;
          text-align: left;
          font-color: white;

          .left-top{
            overflow: hidden;
            width: 100%;
            vertical-align:middle;
            left: 0px;
            padding: 0px;
            text-align: left;
            color: white;
            //h1.text-48.leading-64.text-white.wow.fadeInUp{
            h1{
              width: 100%;
              padding: 0px;
              //background-color: blueviolet;
              font-family: 'Montserrat', Avenir;
              font-style: normal;
              font-weight: 300;
              font-size: 69px;
              //line-height: 76px;
              color: #FFFFFF;
              text-align: left;
            }
            p{
              width: 90%;
              padding: 0px;
              font-family: 'Montserrat', Avenir;
              font-style: normal;
              font-weight: 300;
              font-size: 24px;
              line-height: 30px;
              color: #FFFFFF;
              text-align: left;
              //background-color: blueviolet;
            }
            button.btn.btn-outline-white{
              border: 2px solid #FFFFFF;
              box-sizing: border-box;
              border-radius: 25px;
              height: 48px;

              button:hover {
                background-color: #183B56;
                color: white;
              }

              font-family: 'Montserrat', Avenir;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 20px;
              /* identical to box height, or 111% */
              text-align: center;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}


//about blip
section.analytics{
  width: 100%;
  height: 741px;
  background-color: #FFFFFF;
  //text-align: center;
  vertical-align: middle;
  align-items: center;
  position: center;

  .container{
    height: 100%;
    horiz-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    .row{
      //height: 100%;
      horiz-align: center;
      text-align: center;
      .col-lg-6-col-md-12-col-sm-12 {
        //background-color: #6f42c1;
        width: 50%;
        //padding: 2.5%;
        vertical-align: middle;
        horiz-align: center;
        position: center;
        text-align: center;
        .illustration-wow-fadeInLeft{
          background-color: #6f42c1;
          width: 85%;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          img{
            width: 100%;
          }
        }
        .heading-wow-fadeInUp{
          //background-color: #3cb582;
          width: 85%;
          vertical-align: middle;
          position: center;
          text-align: center;
          margin-left: auto;
          margin-right: auto;

          h3.text-black-mt-16{
            text-align: left;
            font-family: 'Montserrat', Avenir;
            font-style: normal;
            font-weight: 300;
            font-size: 48px;
            line-height: 129%;
            color: #254B77;
          }
          p.text-gray-mt-20-mb-0{
            text-align: left;

            font-family: 'Montserrat', Avenir;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 30px;
            color: #183B56;
          }
        }
      }
    }
  }
}

//Clean energy is no longer just for homeowners
section.features{
  width: 100%;
  height: 820px;
  background: #DEF5FF;
  text-align: center;
  vertical-align: middle;
  horiz-align: center;
  display: flex;
  align-items: center;
  .container{
    width: 90%;
    //height: 80%;
    text-align: center;
    vertical-align: middle;
    horiz-align: center;
    align-items: center;
    position: center;
    margin: auto;
    //margin-top: 10%;
    //margin-bottom: 10%;
    .row{
      width: 100%;
      text-align: center;
      vertical-align: middle;
      horiz-align: center;
      align-items: center;
      position: center;
      margin: auto;
      .col-lg-8-offset-lg-2-col-md-12-col-sm-12{
        text-align: center;
        vertical-align: middle;
        horiz-align: center;
        align-items: center;
        position: center;
        margin: auto;
        h3.text-black-mt-16{
          text-align: center;
          font-family: 'Montserrat', Avenir;
          font-style: normal;
          font-weight: 300;
          font-size: 48px;
          line-height: 129%;
          color: #254B77;
        }
      }
    }
    .content{
      width: 100%;
      text-align: center;
      vertical-align: middle;
      horiz-align: center;
      position: center;
      margin: auto;
      margin-top: 0px;
      .row{
        width: 100%;
        text-align: center;
        vertical-align: middle;
        horiz-align: center;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        .col-lg-4-col-md-6-col-sm-12{
          width: 30%;
          text-align: center;
          vertical-align: middle;
          horiz-align: center;
          display: flex;
          align-items: center;
          margin-left: auto;
          margin-right: auto;
          .card-f-heading{
            width:30%;
            background: transparent;
                    //#C4C4C4;
            text-align: center;
            vertical-align: middle;
            horiz-align: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            margin-bottom: 5%;
            .ic{
              width: 100%;
              text-align: center;
              vertical-align: middle;
              horiz-align: center;
              align-items: center;
              margin: auto;
              img{
                width: 150%;
                height: 100%;
                margin: auto;
                background: transparent;
              }
            }
          }

          .card-f-body{
            text-align: center;
            vertical-align: middle;
            horiz-align: center;
            //display: flex;
            //align-items: center;
            top: 50%;
            .text-20-text-black-mb-12{
              //background: #e83e8c;
              width: 199px;
              height: 52px;
              //left: 227px;
              //top: 1003px;
              vertical-align: middle;
              //display: flex;
              //align-items: center;

              margin-left: auto;
              margin-right: auto;
              text-align: center;

              font-family: 'Montserrat', Avenir;
              font-style: normal;
              font-weight: 300;
              font-size: 41px;
              line-height: 52px;
              color: #4F9BC1;
            }
            .text-gray-mb-20{
              width: 283px;
              height: 150px;
              left: 168px;
              top: 1072px;

              font-family: 'Montserrat', Avenir;
              font-style: normal;
              font-weight: 300;
              font-size: 24px;
              line-height: 30px;
              text-align: center;
              color: #4F9BC1;

            }
          }
        }
      }

    }

    .card-pricing-footer{
      margin-top: 50px;
      button.btn-btn-outline-primary-btn-block-d-flex-justify-between-items-center{
        width: 188px;
        height: 59px;
        left: 627px;
        top: 1311px;
        text-align: center;
        border: 2px solid #254B77;
        box-sizing: border-box;
        border-radius: 24px;
        background-color:transparent;
        button:hover {
          color: white;
        }

        //font-family: "MarkPro-TestFont";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #254B77;
      }
    }
  }
}

section.quotes{
  display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;
  height: 847px;
  left: 0px;
  top: 2279px;
  background: #1D3755;
  //background: #869791;
  .container{
    width: 90%;
    //height: 80%;
    text-align: center;
    vertical-align: middle;
    horiz-align: center;
    align-items: center;
    position: center;
    margin: auto;
    //margin-top: 10%;
    //margin-bottom: 10%;
    .row {
      width: 100%;
      text-align: center;
      vertical-align: middle;
      horiz-align: center;
      align-items: center;
      position: center;
      margin: auto;
      .col-lg-8-offset-lg-2-col-md-12-col-sm-12{
        text-align: center;
        vertical-align: middle;
        horiz-align: center;
        align-items: center;
        position: center;
        margin: auto;
        h3.text-black-mt-16{
          text-align: center;
          //position: absolute;
          width: 558px;
          height: 62px;
          //left: 454px;
          //top: 112px;

          /* Header 2 */
          font-family: 'Montserrat', Avenir;
          font-style: normal;
          font-weight: 300;
          font-size: 48px;
          line-height: 129%;
          color: #FFFFFF;
        }
      }

      .col-lg-6.col-md-12.col-sm-12{
        width: 50%;
        padding: 6%;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 129%;
        color: #FFFFFF;
        .content{
          p.text-black-mt-24-mb-16-wow-fadeInUp{
            text-align: left;
            font-family: 'Montserrat', Avenir;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 30px;
            color: #b0e7ff;
          }
        }
      }

    }
  }

}

//Help shape the future of blip
section.featuresII{
  width: 100%;
  height: 400px;
  background: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  horiz-align: center;
  display: flex;
  align-items: center;
  .containerII{
    width: 100%;
    display: flex;
    align-items: center;
    //background: #e83e8c;
    .rowII{
      //background: #00b8d9;
      width: 100%;
      display: flex;
      align-items: center;
      .col-lg-8.offset-lg-2.col-md-12.col-sm-12{
        width: 100%;
        .heading.text-center.wow.fadeInUp{
          width: 100%;
          justify-content: center;
          .text-whiteOmb-24OwowOfadeInUp{
            margin-bottom: 50px;
            //position: absolute;
            width: 100%;
            height: 62px;
            //left: 407px;
            //top: 74px;
            /* Header 2 */
            font-family: 'Montserrat', Avenir;
            font-style: normal;
            font-weight: 100;
            font-size: 48px;
            line-height: 129%;
            color: #254B77;
          }
          .content.text-center{
            .btn.btn-primary{
              //position: absolute;
              width: 381px;
              height: 99px;
              //left: 530px;
              //top: 186px;
              background: #B0E7FF;
              border-radius: 50px;
              border: none;

              font-family: 'Montserrat', Avenir;
              font-style: normal;
              font-weight: 300;
              font-size: 24px;
              line-height: 30px;
              text-align: center;
              color: #254B77;
            }
          }
        }
      }
    }
  }
}
