
.card-pricing {
  border-radius: .5rem;
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.03);
  padding: 3rem 2.25rem;
  min-height: 561px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-simple {
    min-height: 436px;
  }

  &-default {
    border-top: 3px solid $s-color-black;
  }

  &-primary {
    border-top: 3px solid $s-color-primary;

    .price {
      h2 {
        color: $s-color-primary !important;
      }
    }
  }

  &-secondary {
    border-top: 3px solid $s-color-secondary;

    .price {
      h2 {
        color: $s-color-secondary !important;
      }
    }
  }

  &-success {
    border-top: 3px solid $s-color-success;

    .price {
      h2 {
        color: $s-color-success !important;
      }
    }
  }

  &-info {
    border-top: 3px solid $s-color-info;

    .price {
      h2 {
        color: $s-color-info !important;
      }
    }
  }

  &-warning {
    border-top: 3px solid $s-color-warning;

    .price {
      h2 {
        color: $s-color-warning !important;
      }
    }
  }

  &-danger {
    border-top: 3px solid $s-color-danger;

    .price {
      h2 {
        color: $s-color-danger !important;
      }
    }
  }

  &-gray {
    border-top: 3px solid $s-color-gray;

    .price {
      h2 {
        color: $s-color-gray !important;
      }
    }
  }

  &-gray-light {
    border-top: 3px solid $s-color-gray-light;

    .price {
      h2 {
        color: $s-color-gray-light !important;
      }
    }
  }

  &-options {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;

    p {
      font-weight: 600;
      margin-bottom: 0;
      margin-right: 1rem;
      padding-top: .5rem;
    }

    .custom-control {
      label {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;

        span {
          line-height: 32px;
        }
      }
    }
  }

  .price {
    h2 {
      color: $s-color-black;

      span {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        color: $s-color-gray;
      }
    }

    h4 {
      color: $s-color-black;
    }

    p {
      color: $s-color-gray;
    }
  }

  .pricing-list {
    li {
      display: flex;
      align-items: center;
      color: $s-color-black;

      img {
        margin-right: .75rem;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &-footer {
    margin-top: 1.5rem;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-pricing {

  }
}