/*
  Justify Content
 */

$values: (
        "start": flex-start,
        "end": flex-end,
        "center": center,
        "between": space-between,
        "around": space-around
);

@each $name, $value in $values {
  .justify-#{$name} {
    justify-content: $value;
  }

  @include breakpoint(map-get($breaks, xs)) {
    .#{map-get($breaks, xs)}-justify-#{$name} {
      justify-content: $value !important;
    }
  }

  @include breakpoint(map-get($breaks, sm)) {
    .#{map-get($breaks, sm)}-justify-#{$name} {
      justify-content: $value !important;
    }
  }

  @include breakpoint(map-get($breaks, md)) {
    .#{map-get($breaks, md)}-justify-#{$name} {
      justify-content: $value !important;
    }
  }

  @include breakpoint(map-get($breaks, lg)) {
    .#{map-get($breaks, lg)}-justify-#{$name} {
      justify-content: $value !important;
    }
  }

  @include breakpoint(map-get($breaks, xl)) {
    .#{map-get($breaks, xl)}-justify-#{$name} {
      justify-content: $value !important;
    }
  }
}