/*
  Margin
 */

$values: (
        0: 0, px: 1px, 2px: 2px, 3px: 3px, 4px: 4px, 5px: 5px, 6px: 6px, 7px: 7px, 4: .25rem, 8: .5rem, 12: .75rem, 16: 1rem, 20: 1.25rem, 22: 1.375rem, 24: 1.5rem, 28: 1.75rem, 32: 2rem, 36: 2.25rem, 40: 2.5rem, 44: 2.75rem, 48: 3rem, 52: 3.25rem, 56: 3.5rem, 60: 3.75rem, 64: 4rem, 68: 4.25rem, 72: 4.5rem, 76: 4.75rem, 80: 5rem, 84: 5.25rem, 88: 5.5rem, 92: 5.75rem, 96: 6rem, 100: 6.25rem, 104: 6.5rem, 108: 6.75rem, 112: 7rem, 116: 7.25rem, 120: 7.5rem, 124: 7.75rem, 128: 8rem, 132: 8.25rem, 136: 8.5rem, 140: 8.75rem, 144: 9rem, 148: 9.25rem, 152: 9.5rem, 156: 9.75rem, 160: 10rem, 164: 10.25rem, 168: 10.5rem, 172: 10.75rem, 176: 11rem, 180: 11.25rem, 184: 11.5rem, 188: 11.75rem, 192: 12rem, 196: 12.25rem, 200: 12.5rem, 216 : 13.5rem, 244 : 15.25rem, 300 : 18.75rem, 352 : 22rem, auto: auto
);

@each $name, $value in $values {
  .m-#{$name} {
    margin: $value;
  }

  .-m-#{$name} {
    margin: -$value;
  }

  .my-#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .-my-#{$name} {
    margin-top: -$value;
    margin-bottom: -$value;
  }

  .mx-#{$name} {
    margin-right: $value;
    margin-left: $value;
  }

  .-mx-#{$name} {
    margin-right: -$value;
    margin-left: -$value;
  }

  .mt-#{$name} {
    margin-top: $value;
  }

  .-mt-#{$name} {
    margin-top: -$value;
  }

  .mr-#{$name} {
    margin-right: $value;
  }

  .-mr-#{$name} {
    margin-right: -$value;
  }

  .mb-#{$name} {
    margin-bottom: $value;
  }

  .-mb-#{$name} {
    margin-bottom: -$value;
  }

  .ml-#{$name} {
    margin-left: $value;
  }

  .-ml-#{$name} {
    margin-left: -$value;
  }

  @include breakpoint(map-get($breaks, xs)) {
    .#{map-get($breaks, xs)}-m-#{$name} {
      margin: $value !important;
    }

    .-#{map-get($breaks, xs)}-m-#{$name} {
      margin: -$value !important;
    }

    .#{map-get($breaks, xs)}-my-#{$name} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, xs)}-my-#{$name} {
      margin-top: -$value !important;
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, xs)}-mx-#{$name} {
      margin-right: $value !important;
      margin-left: $value !important;
    }

    .-#{map-get($breaks, xs)}-mx-#{$name} {
      margin-right: -$value !important;
      margin-left: -$value !important;
    }

    .#{map-get($breaks, xs)}-mt-#{$name} {
      margin-top: $value !important;
    }

    .-#{map-get($breaks, xs)}-mt-#{$name} {
      margin-top: -$value !important;
    }

    .#{map-get($breaks, xs)}-mr-#{$name} {
      margin-right: $value !important;
    }

    .-#{map-get($breaks, xs)}-mr-#{$name} {
      margin-right: -$value !important;
    }

    .#{map-get($breaks, xs)}-mb-#{$name} {
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, xs)}-mb-#{$name} {
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, xs)}-ml-#{$name} {
      margin-left: $value !important;
    }

    .-#{map-get($breaks, xs)}-ml-#{$name} {
      margin-left: -$value !important;
    } 
  }

  @include breakpoint(map-get($breaks, sm)) {
    .#{map-get($breaks, sm)}-m-#{$name} {
      margin: $value !important;
    }

    .-#{map-get($breaks, sm)}-m-#{$name} {
      margin: -$value !important;
    }

    .#{map-get($breaks, sm)}-my-#{$name} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, sm)}-my-#{$name} {
      margin-top: -$value !important;
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, sm)}-mx-#{$name} {
      margin-right: $value !important;
      margin-left: $value !important;
    }

    .-#{map-get($breaks, sm)}-mx-#{$name} {
      margin-right: -$value !important;
      margin-left: -$value !important;
    }

    .#{map-get($breaks, sm)}-mt-#{$name} {
      margin-top: $value !important;
    }

    .-#{map-get($breaks, sm)}-mt-#{$name} {
      margin-top: -$value !important;
    }

    .#{map-get($breaks, sm)}-mr-#{$name} {
      margin-right: $value !important;
    }

    .-#{map-get($breaks, sm)}-mr-#{$name} {
      margin-right: -$value !important;
    }

    .#{map-get($breaks, sm)}-mb-#{$name} {
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, sm)}-mb-#{$name} {
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, sm)}-ml-#{$name} {
      margin-left: $value !important;
    }

    .-#{map-get($breaks, sm)}-ml-#{$name} {
      margin-left: -$value !important;
    }
  }

  @include breakpoint(map-get($breaks, md)) {
    .#{map-get($breaks, md)}-m-#{$name} {
      margin: $value !important;
    }

    .-#{map-get($breaks, md)}-m-#{$name} {
      margin: -$value !important;
    }

    .#{map-get($breaks, md)}-my-#{$name} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, md)}-my-#{$name} {
      margin-top: -$value !important;
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, md)}-mx-#{$name} {
      margin-right: $value !important;
      margin-left: $value !important;
    }

    .-#{map-get($breaks, md)}-mx-#{$name} {
      margin-right: -$value !important;
      margin-left: -$value !important;
    }

    .#{map-get($breaks, md)}-mt-#{$name} {
      margin-top: $value !important;
    }

    .-#{map-get($breaks, md)}-mt-#{$name} {
      margin-top: -$value !important;
    }

    .#{map-get($breaks, md)}-mr-#{$name} {
      margin-right: $value !important;
    }

    .-#{map-get($breaks, md)}-mr-#{$name} {
      margin-right: -$value !important;
    }

    .#{map-get($breaks, md)}-mb-#{$name} {
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, md)}-mb-#{$name} {
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, md)}-ml-#{$name} {
      margin-left: $value !important;
    }

    .-#{map-get($breaks, md)}-ml-#{$name} {
      margin-left: -$value !important;
    }
  }

  @include breakpoint(map-get($breaks, lg)) {
    .#{map-get($breaks, lg)}-m-#{$name} {
      margin: $value !important;
    }

    .-#{map-get($breaks, lg)}-m-#{$name} {
      margin: -$value !important;
    }

    .#{map-get($breaks, lg)}-my-#{$name} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, lg)}-my-#{$name} {
      margin-top: -$value !important;
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, lg)}-mx-#{$name} {
      margin-right: $value !important;
      margin-left: $value !important;
    }

    .-#{map-get($breaks, lg)}-mx-#{$name} {
      margin-right: -$value !important;
      margin-left: -$value !important;
    }

    .#{map-get($breaks, lg)}-mt-#{$name} {
      margin-top: $value !important;
    }

    .-#{map-get($breaks, lg)}-mt-#{$name} {
      margin-top: -$value !important;
    }

    .#{map-get($breaks, lg)}-mr-#{$name} {
      margin-right: $value !important;
    }

    .-#{map-get($breaks, lg)}-mr-#{$name} {
      margin-right: -$value !important;
    }

    .#{map-get($breaks, lg)}-mb-#{$name} {
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, lg)}-mb-#{$name} {
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, lg)}-ml-#{$name} {
      margin-left: $value !important;
    }

    .-#{map-get($breaks, lg)}-ml-#{$name} {
      margin-left: -$value !important;
    }
  }

  @include breakpoint(map-get($breaks, xl)) {
    .#{map-get($breaks, xl)}-m-#{$name} {
      margin: $value !important;
    }

    .-#{map-get($breaks, xl)}-m-#{$name} {
      margin: -$value !important;
    }

    .#{map-get($breaks, xl)}-my-#{$name} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, xl)}-my-#{$name} {
      margin-top: -$value !important;
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, xl)}-mx-#{$name} {
      margin-right: $value !important;
      margin-left: $value !important;
    }

    .-#{map-get($breaks, xl)}-mx-#{$name} {
      margin-right: -$value !important;
      margin-left: -$value !important;
    }

    .#{map-get($breaks, xl)}-mt-#{$name} {
      margin-top: $value !important;
    }

    .-#{map-get($breaks, xl)}-mt-#{$name} {
      margin-top: -$value !important;
    }

    .#{map-get($breaks, xl)}-mr-#{$name} {
      margin-right: $value !important;
    }

    .-#{map-get($breaks, xl)}-mr-#{$name} {
      margin-right: -$value !important;
    }

    .#{map-get($breaks, xl)}-mb-#{$name} {
      margin-bottom: $value !important;
    }

    .-#{map-get($breaks, xl)}-mb-#{$name} {
      margin-bottom: -$value !important;
    }

    .#{map-get($breaks, xl)}-ml-#{$name} {
      margin-left: $value !important;
    }

    .-#{map-get($breaks, xl)}-ml-#{$name} {
      margin-left: -$value !important;
    }
  }
}