/*
  Max Height
 */

$values: (
        "full": 100%,
        "screen": 100vh,
        '5em' : 5em,
        72    : 4.5rem,
);

@each $name, $value in $values {
  .max-h-#{$name} {
    max-height: $value;
  }

  @include breakpoint(map-get($breaks, sm)) {
    .#{map-get($breaks, sm)}-max-h-#{$name} {
      max-height: $value;
    }
  }

  @include breakpoint(map-get($breaks, md)) {
    .#{map-get($breaks, md)}-max-h-#{$name} {
      max-height: $value;
    }
  }

  @include breakpoint(map-get($breaks, lg)) {
    .#{map-get($breaks, lg)}-max-h-#{$name} {
      max-height: $value;
    }
  }

  @include breakpoint(map-get($breaks, xl)) {
    .#{map-get($breaks, xl)}-max-h-#{$name} {
      max-height: $value;
    }
  }
}