/*
  Preflight
 */

html,
body {
  margin: 0;
  padding: 0;
}

// default margin are removed
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

// heading are unstyled
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// list are unstyled
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// images are block-level
//img,
//svg,
//video,
//canvas,
//audio,
//iframe,
//embed,
//object {
//  display: block;
//  vertical-align: middle;
//}