/*
  Text Align
 */

$values: (
        "left": left,
        "center": center,
        "right": right,
        "justify": justify
);

@each $name, $value in $values {
  .text-#{$name} {
    text-align: $value;
  }

  @include breakpoint(map-get($breaks, xs)) {
    .#{map-get($breaks, xs)}-text-#{$name} {
      text-align: $value !important; 
    }
  }

  @include breakpoint(map-get($breaks, sm)) {
    .#{map-get($breaks, sm)}-text-#{$name} {
      text-align: $value !important;
    }
  }

  @include breakpoint(map-get($breaks, md)) {
    .#{map-get($breaks, md)}-text-#{$name} {
      text-align: $value !important;
    }
  }

  @include breakpoint(map-get($breaks, lg)) {
    .#{map-get($breaks, lg)}-text-#{$name} {
      text-align: $value !important;
    }
  }

  @include breakpoint(map-get($breaks, xl)) {
    .#{map-get($breaks, xl)}-text-#{$name} {
      text-align: $value !important;
    }
  }
}