/*
  Vertical Align
 */

$values: (
        "baseline": baseline,
        "top": top,
        "middle": middle,
        "bottom": bottom,
        "text-top": text-top,
        "text-bottom": text-bottom
);

@each $name, $value in $values {
  .align-#{$name} {
    vertical-align: $value;
  }

  @include breakpoint(map-get($breaks, sm)) {
    .#{map-get($breaks, sm)}-align-#{$name} {
      vertical-align: $value;
    }
  }

  @include breakpoint(map-get($breaks, md)) {
    .#{map-get($breaks, md)}-align-#{$name} {
      vertical-align: $value;
    }
  }

  @include breakpoint(map-get($breaks, lg)) {
    .#{map-get($breaks, lg)}-align-#{$name} {
      vertical-align: $value;
    }
  }

  @include breakpoint(map-get($breaks, xl)) {
    .#{map-get($breaks, xl)}-align-#{$name} {
      vertical-align: $value;
    }
  }
}