//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

//@font-face {
//  font-family: "Montserrat";
//  src:("src/assets/fonts/Montserrat/Montserrat-Light.ttf") ;
//}

//@font-face {
//  font-family: "hkgrotesk";
//  src: local("src/assets/fonts/hkgrotesk");
//}

//@import url(../../assets/fonts/MarkPro-TestFont.otf/FFMarkFree.css);

//.f-Avenir{font-family: Avenir;}
.all{font-family: 'Montserrat', Avenir;}

section{
  //font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  //background: url("/src/assets/images/logo.png");
}
//.h-536{height: 536px;}

//.E5E5E5{background: #E5E5E5;}
.FFFFFF{background: #FFFFFF;}
.DEF5FF{background: #DEF5FF;}
.oneD3755{background: #1D3755;}

.one83B56{color: #183B56;}
.c-254B77{color: #254B77;}
.c-FFFFFF{color: #FFFFFF;}
.c-B0E7FF{color: #B0E7FF;}
.c-000000{color: #000000;}
.c-FF0000{color: #FF0000;}
.c-4F9BC1{color: #4F9BC1;}
.c-0B45DC{color: #0B45DC;}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.text-center{text-align: center};

h1{
  //font-family: Avenir;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 76px;
  /* or 119% */
}

h2{
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 62px;
  margin: 20px;
  /* identical to box height, or 129% */
}
h4{
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
}

p.p1{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 125%;
  /* or 40px */
}
p.p2{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin: 20px;
}
p.p3{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
}
p.p4{
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
}

//img{background: #C4C4C4;}


button.submit{
  background: #B0E7FF;
  border-radius: 50px;
  border: none;

  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  color: #254B77;
}
button.submit:hover {
  background: #254B77;
  color: #FFFFFF;
}



.container{
  //background: #F2607B;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  //display: flex;
  //align-items: center;
  padding: 0px;
}
.row{
  //background: #3cb582;
  //width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.width-100percent{width: 100%;}
.w-100p{width: 100%;}
.h-100p{height: 100%;}

.m-l-0{margin-left: 0px;}
.m-r-0{margin-right: 0px;}
.m-t-0{margin-top: 0px;}
.m-b-0{margin-botton: 0px;}
.m-tb-a{
  margin-top: auto;
  margin-bottom: auto;
}
.p-0{padding: 0px;}
.p-l-0{padding-left: 0px;}
.p-t-0{padding-top: 0px;}
.p-tb-a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.i-a-c{
  display: flex;
  align-items: center;
}
.absolute-mid{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.chart{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.margin_top-50px{
  margin-top: 50px;
}

.seeHow{
  position: relative;
  //width: 517px;
  //height: 174px;
  //left: 130px;
  top: 109px;
  margin-bottom: 0px;
  //background: #6f42c1;
}

.blip-pig{
  //max-width: 100%;
  position: absolute;
  left: 65%;
  top: 70px;
  width: 800px;
}


.saving_enter{
  position: absolute;
  //width: 517px;
  //height: 174px;
  left: 8%;
  top: 40px;
}


/////////////////////////////////////////////////////////savings.vue
/////////////////////seen
.zipcode_container{
  //background: #FAAD13;
  position: relative;
  top: 183px;
  max-width: 100%;
  //padding-bottom: 50px;
  .see{
    //background: #C4C4C4;
    height: 174px;
    margin-bottom: 30px;
  }
  .how{
    //background: #C4C4C4;
    margin-top: 22px;
    padding-bottom: 65px;}
  .zip-input{
    width: 266px;
    height: 76px;
    //left: 130px;
    //top: 504px;

    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    text-align: center;

    //text-indent: 10px;
    vertical-align: center;
    //line-height: 1.5em;

    //padding-top: 23px;
    //padding-bottom: 23px;


    //display: flex;
    //align-items: center;
  }
  .zip-input::placeholder{
    width: 157px;
    height: 30px;
    font-family: 'Montserrat', Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    //line-height: 1.5em;

    //line-height: normal;
    color: #C4C4C4;
    //background: #3cb582;
    //text-align: center;
    //margin: 0px;
  }

  button.search-button{
    width: 213.49px;
    height: 67px;
    //left: 415.51px
    margin-left: 15px;

    font-size: 24px;
    line-height: 30px;
  }

  .validZipcodeError{
    width: 266px;
    margin-top: 10px
  }
}

/////////////////////!seen
.utility_container{
  //background: #FAAD13;
  //padding-top: 0px;
  width: 485px;
  //height: 799px;
  background: #FFFFFF;
  box-shadow: 6px 12px 19px -4px #E5E5E5;
  border-radius: 25px;
  padding-left: 41px;
  padding-bottom: 40px;
  margin-bottom: 120px;
  .seeAfterNotSeen{
    width: 390px;
    margin-top: 55px;
    padding-bottom: 40px;
    //background: #C4C4C4;
  }
  .zipcode_input{
    height: 88px;
    padding-bottom: 38px;
    //background: #F2607B;
    .h-52px{
      height: 52px;
    }
    .input_not_seen{
      position: absolute;
      width: 220px;
      height: 50px;

      //left: 130px;
      //top: 322px;

      background: #FFFFFF;
      border: 2px solid #D3D3D3;
      box-sizing: border-box;
      border-radius: 24px;
      box-shadow: none;

      font-family: 'Montserrat', Avenir;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 20px;
      color: #254B77;
      text-align: center;
    }
    .input_not_seen::placeholder{font-family: 'Montserrat', Avenir;}

    .enter_button{
      width: 100px;
      height: 50px;
      text-align: center;

      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
    }
    .validZipcodeError{
      width: 220px;
      //margin-top: 10px;
      //background: #C4C4C4;
    }
  }

  .utility_provider{
    margin-top: 0px;
    margin-bottom: 30px;
    .h-40px{height: 40px;}
    .utility_select{
      padding-left: 0px;
      margin-left: 0px;
      .card{
        border: none;
        margin: 0px;
        width: 119.92px;
        position: relative;
        left: 0px;
        background: transparent;
        .utilityProviderPic{
          //position: relative;
          width: 119.92px;
          height: 119.92px;
          //left: 0px;
          //top: 460.33px;

          background: #FFFFFF;
          border: 2px solid #D3D3D3;
          box-sizing: border-box;
          border-radius: 24px;
          box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);

          padding: 0px;
          text-align: center;
          img{
            width: 67.03px;
          }
        }
        .utilityProviderLetter{
          width: 119.92px;
          height: 119.92px;
          //left: 130px;
          //top: 460.33px;

          background: #FFFFFF;
          border: 2px solid #D3D3D3;
          box-sizing: border-box;
          border-radius: 24px;
          box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);

          font-family: 'Montserrat', Avenir;
          font-size: 18px;
          line-height: 21px;
          //line-height: 24px;
          color: #254B77;

          padding: 0px;
          text-align: center;
          p{
            //background: #F2607B;
            width: 118px;
            line-height: 19px;
          }
        }
      }
    }
  }

  .rate_plan{
    h4{
      height: 33px;
      margin-bottom: -5px;
    }
    .iDont{
      background: transparent;
      border: none;
      padding-left: 0px;
      font-style: normal;
    }
    .plan_select{
      //height: 80px;
      padding-left: 0px;
      .dropdown{
        overflow: hidden;
        text-overflow : ellipsis ;
        //white-space : nowrap ;
        white-space:pre-wrap;

        width: 296px;
        height: 119.55px;
                //49.55px;
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        background: #FFFFFF;
        border: 2px solid #D3D3D3;
        box-sizing: border-box;
        border-radius: 24px;

        font-family: 'Montserrat', Avenir;
        font-size: 18px;
        line-height: 21px;
        //line-height: 24px;
        color: #254B77;
        text-align: center;

        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        ///*在选择框的最右侧中间显示下拉箭头图片*/
        ////background: url("")  right center no-repeat;
        ///*为下拉小箭头留出一点位置，避免被文字覆盖*/
      }
      //.dropdown::text{
      //  font-family: 'Montserrat', Avenir;
      //}
      .dropdown-item{
        //width: 296px;
        height: 50px;
        padding: 0px 0px;

        //background: #EAEAEA;
        //border: 3px solid #D3D3D3;
        //box-sizing: border-box;
        //border-radius: 24px;

        font-family: 'Montserrat', Avenir;
        //color: #3cb582;
      }
      .seeSavings{
        width: 242px;
        height: 59px;
        margin-top: 37px;
        margin-bottom: 37px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */
        color: #254B77;
      }
      .seeSavings:hover{
        color:#FFFFFF;
      }

    }

  }

}

/////////////////////////////////////////////////////////graph.vue
.saving_container{
  //background: #FAAD13;
  position: relative;
  top: 159px;
  margin-left: 60px;
  margin-bottom: 300px;

  .withBlip_box{
    width: 562px;
    height: 272px;
    //left: calc(50% - 562px/2 + 280px);
    //top: calc(50% - 272px/2 - 411.5px);
    padding-top: 0px;
    padding-bottom: 0px;

    background: #254B77;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    .logo{
      height: 62px;
      margin-top: -20px;
      margin-bottom: 0px;
      //background: #3cb582;
      img{
        //height: 62px;
        width: 105px;
        border-radius: 0px;
        margin-bottom: 0px;
      }
    }

    .blip-area{
      //background: #3cb582;
      margin-top: -15px;
      margin-bottom: 30px;
    }

    .savePerYear{
      font-family: 'Montserrat', Avenir;
      font-style: normal;
      font-weight: 300;
      font-size: 84px;
      //line-height: 76px;
      /* identical to box height, or 90% */

      text-align: center;
      font-feature-settings: 'pnum' on, 'lnum' on;
      //background: #3cb582;

      padding-bottom: 0px;
      margin-bottom: 9.46px;
    }

    .perYear{
      //background: #3cb582;
      width: 245px;
      height: 44.81px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;

      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 125%;
      /* or 27px */
    }

    .about{
      //background: #C4C4C4;
      height: 20.84px;
      margin-top: -30px;
      margin-bottom: 0px;

      color: #4F9BC1;
    }

    .yourSaving{
      margin-top: 35px;
      margin-bottom: 15px;
    }
  }

  .congrs{
    width: 78%;
    margin-top: 28px;
    margin-bottom: 38px;
  }

  .savingsDifYears{
    padding-bottom: 21px;
    margin-bottom: 30px;
    //border-bottom: 3px solid #4F9BC1;
    .left{
      border-right: 1.5px solid #254B77;
    }
    .right{
      border-left: 1.5px solid #254B77;
    }
  }

  .graph{
    .graphButton{
      background: #FFFFFF;
      width: 491px;
      height: 49.55px;
      border: 2px solid #254B77;
      box-sizing: border-box;
      border-radius: 24px;
      button{
        width: 247px;
        height: 49px;
        margin-top: -2px;
        margin-left: -2px;

        background: transparent;
        //background: #254B77;
        //border: 3px solid #B0E7FF;
        //box-sizing: border-box;
        //box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.25);
        //border-radius: 6px;
        border: none;

        border-radius: 50px;

        font-family: 'Montserrat', Avenir;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;

        color: #B0E7FF;
      }
      button:disabled{
        background: #254B77;
        opacity: 1;
        border: none;
      }
      button:hover{
        border: none;
      }
    }
  }

  .outage{
    width: 596px;
            //626px;
    //height: 128px;
    //left: 44px;
    //top: 1393px;
    padding: 30px 30px;
    margin-top: 30px;

    background: #254B77;
    border-radius: 35px;

    .bolt{
      //background: #C4C4C4;
      font-size: 30px;
      color: #B0E7FF;
    }

    .outageTimes{
      //background: #C4C4C4;
      //font-family: FF Mark Pro;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
              //20px;
      /* or 100% */
      u{
        color: #B0E7FF;
      }
    }
  }

  .signUpForUpdates{
    align-items: center;
    margin-top: 30px;

    button{
      width: 280px;
      height: 57px;

      margin-left: auto;
      margin-right: auto;

      background: #B0E7FF;
      border-radius: 24px;

    }
  }

  //background: #3cb582;


  .notBiggest_box{
    width: 562px;
    //height: 351px;
    //left: calc(50% - 562px/2 + 280px);
    //top: calc(50% - 272px/2 - 411.5px);
    padding-top: 0px;
    padding-bottom: 0px;

    background: #254B77;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    .current{
      width: 425px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      //font-family: FF Mark Pro;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      /* or 118% */

      color: #FFFFFF;
    }

    .currentBottom{
      width: 425px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;

      //font-family: FF Mark Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;

      .iDont{
        background: transparent;
        border: none;
        padding: 0px 0px;

        font-family: 'Montserrat', Avenir;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #B0E7FF;//////////////////////////////////////////////////////////////////////////////////////////////
      }

    }

    .contactUtilityProvider{
      width: 353px;
      height: 59px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 39px;
      margin-bottom: 45px;
      //left: calc(50% - 353px/2 + 286.5px);
      //top: calc(50% - 59px/2 - 320.5px);

      border: 2px solid #B0E7FF;
      box-sizing: border-box;
      border-radius: 25px;

      a{
        width: 316.15px;
        height: 20px;
        //left: calc(50% - 316.15px/2 + 287.47px);
        //top: calc(50% - 20px/2 - 322px);

        /* Paragraph 4 */
        //font-family: FF Mark Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        text-align: center;

        color: #B0E7FF;

      }
    }
  }

  .inBetween{
    width: 500px;
    //height: 0px;
    //left: 707px;
    //top: 623px;
    padding-top: 56px;
    padding-bottom: 61px;

    border-bottom: 2px solid #254B77;

    .logoInBtw{
      width:100px;
    }
    .rightInBtw{
      height: 62px;
    }
  }

  .thisIs{
    margin-top: 48px;
    margin-bottom: 46px;
    width: 485px;
    //height: 72px;
  }


}

.dontSupport{
  //background: #FAAD13;
  padding-top: 100px;
  padding-bottom: 100px;


  .goBack{
    border: none;
    background: transparent;
  }
  .goBack:hover{font-style: oblique}

  h2{
    //background: #C4C4C4;
    margin-top: 50px;
  }
  button.btn.btn-outline-254B77 {
    //position: absolute;
    width: 223.63px;
    height: 72px;
    //left: 608px;
    //top: 263px;
    margin-top: 19px;
    margin-bottom: 75px;

    border: 2px solid #254B77;
    box-sizing: border-box;
    border-radius: 50px;

    text-align: center;
    background-color: transparent;

    button:hover {
      background-color: #254B77;
      //color: white;
    }
  }

  .weCanHelp{
    margin-bottom: 40px;
    //background: #C4C4C4;
  }

  .sendUsANote{
    width: 215px;
    height: 72px;

    //font-family: FF Mark Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */

    text-align: center;
    color: #254B77;
  }

}
