@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

.main{
  width: 100%;
  font-family: 'Montserrat', Avenir;
}
//@font-face {
//  font-family: "MarkPro-TestFont";
//  src:local("./assets/fonts/MarkPro-TestFont.otf/MarkPro-TestFont.otf");
//}

section{
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', Avenir;
}
//.h-536{height: 536px;}

//.E5E5E5{background: #E5E5E5;}
.FFFFFF{background: #FFFFFF;}
.DEF5FF{background: #DEF5FF;}
.oneD3755{background: #1D3755;}

.one83B56{color: #183B56;}
.two54B77{color: #254B77;}
.c-254B77{color: #254B77;}
.c-FFFFFF{color: #FFFFFF}
.c-B0E7FF{color: #B0E7FF;}
.c-4F9BC1{color: #4F9BC1;}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.text-center{text-align: center};

.width-100percent{width: 100%;}
.w-100p{width: 100%;}
.h-100p{height: 100%;}

.m-l-0{margin-left: 0px;}
.m-r-0{margin-right: 0px;}
.m-t-0{margin-top: 0px;}
.m-b-0{margin-botton: 0px;}
.m-tb-a{
  margin-top: auto;
  margin-bottom: auto;
}
.p-0{padding: 0px;}
.p-l-0{padding-left: 0px;}
.p-t-0{padding-top: 0px;}
.p-tb-a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.i-a-c{
  display: flex;
  align-items: center;
}
.absolute-mid{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

h2{
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 62px;
  margin: 20px;
  /* identical to box height, or 129% */
}
h3{
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 200;
  font-size: 38px;
  line-height: 50px;
  /* identical to box height */
}
h4{
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
}

p.p1{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 125%;
  /* or 40px */
}
p.p1point5{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 30px;
  margin: 20px;
}
p.p2{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin: 20px;
}
p.p3{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
}

img{background: #C4C4C4;}

button.btn.btn-outline-4F9BC1{
  //position: absolute;
  width: 230px;
  height: 59px;
  //left: 608px;
  //top: 263px;

  border: 2px solid #4F9BC1;
  box-sizing: border-box;
  border-radius: 50px;

  text-align: center;
  background-color:transparent;
  button:hover {
    background-color: #4F9BC1;
    //color: white;
  }

  //font-family: "MarkPro-TestFont";
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #4F9BC1;
}


button.btn.btn-outline-254B77{
  //position: absolute;
  width: 356px;
  height: 59px;
  //left: 608px;
  //top: 263px;

  border: 2px solid #254B77;
  box-sizing: border-box;
  border-radius: 50px;

  text-align: center;
  background-color:transparent;

  //font-family: "MarkPro-TestFont";
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #254B77;
}
button.btn.btn-outline-254B77:hover {
  background-color: #254B77;
  color: white;
}

button.btn.btn-outline-B0E7FF{
  //position: absolute;
  height: 59px;
  //left: 608px;
  //top: 263px;

  border: 2px solid #B0E7FF;
  box-sizing: border-box;
  border-radius: 50px;

  text-align: center;
  background-color:transparent;

  //font-family: "MarkPro-TestFont";
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #B0E7FF;
}
button.btn.btn-outline-B0E7FF:hover {
  background-color: #B0E7FF;
  color: #254B77;
  //color: white;
}

button.btn.btn-B0E7FF{
  font-family: 'Montserrat', Avenir;
  width: 215px;
  height: 44px;
  //left: 608px;
  //top: 263px;

  //border: 2px solid #B0E7FF;
  //box-sizing: border-box;
  //border-radius: 24px;
  border: none;
  border-radius: 30px;

  text-align: center;
  background-color: #B0E7FF;

  font-family: 'Montserrat', Avenir;;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #254B77;
}
button.btn.btn-B0E7FF:hover {
  background-color: #254B77;
  color: #B0E7FF;
}

input{
  //width: ;
  height: 49px;
  //left: 318px;
  //top: 251px;
  background: #FFFFFF;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin-right:0px;
  margin-bottom: 25px;
  ::placeholder{
    font-family: 'Montserrat', Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 111%;
    color: #8E8E8E;
  }
}
.features{
  h3{
    font-size: 40px;
  }
}

//.full{width: 100%}

.h-1152px{height: 1152px;}
//.width-403px{width:403px; }
//.width-526px{width:525.46px;}

.container{
  //background: #F2607B;
  padding: 80px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.row{
  //background: #3cb582;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.chart{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.width-100percent{width: 100%;}
.w-100p{width: 100%;}
.h-100p{height: 100%;}
.margin_top-50px{
  margin-top: 50px;
}

.h-658px{height: 658px;}
//.card-f-heading{
//  width: 89px;
//  height: 97.19px;
//  text-align: center;
//  //background: #3cb582;
//  .w-100p.h-100p.t-center{
//    //display: block;
//    //text-align: center;
//    background: #F2607B;
//    img{
//      //width: 89px;
//      //height: 97.19px;
//      //width: 100%;
//      height: 100%;
//      //display: inline-block;
//    //  max-width:100%;     max-height:100%
//    //  position:absolute;
//      top:-50%;left:-50%;
//      //  display:block;
//       //visibility:hidden;
//      position:static;
//    }
//  }
//
//}
.h-1539px{height: 1539px;}
.w-1109px{
  width: 1109px;
  //background: #F2607B;
}
.topline{
  border-top: 2px solid #254B77;
  margin-top: 50px;
  padding-top: 50px;
  //text-align: left;
  //background: #;
  p{
    a{color: #4F9BC1}
    a:hover{color: #B0E7FF}
  }
}
.w-511px{
  width: 87%;
  position: relative;
  left: -19px;
  //background: #F2607B
}
.FAQs{
  .content{
    margin-top: 82px;
    margin-bottom: 23px;
    button{
      width: 185px;
    }
  }
}
.h-700px{height: 750px;}
.h-800px{height: 800px;}
.whyBlip{
  background: transparent;
  width: 100%;
}
.card-f-body{
  h3{
    height: 100px;
    //text-align: center;
    //display: flex;
    //align-items: center;
  }
}









