@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

.main{
  width: 100%;
  font-family: 'Montserrat', Avenir;
}
//@font-face {
//  font-family: "MarkPro-TestFont";
//  src:local("./assets/fonts/MarkPro-TestFont.otf/MarkPro-TestFont.otf");
//}

section{
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', Avenir;
}
//.h-536{height: 536px;}

//.E5E5E5{background: #E5E5E5;}
.FFFFFF{background: #FFFFFF;}
.DEF5FF{background: #DEF5FF;}
.oneD3755{background: #1D3755;}

.one83B56{color: #183B56;}
.two54B77{color: #254B77;}
.c-FFFFFF{color: #FFFFFF}
.c-B0E7FF{color: #B0E7FF;}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.text-center{text-align: center};

.width-100percent{width: 100%;}
.w-100p{width: 100%;}
.h-100p{height: 100%;}

.m-l-0{margin-left: 0px;}
.m-r-0{margin-right: 0px;}
.m-t-0{margin-top: 0px;}
.m-b-0{margin-botton: 0px;}
.m-tb-a{
  margin-top: auto;
  margin-bottom: auto;
}
.p-0{padding: 0px;}
.p-l-0{padding-left: 0px;}
.p-t-0{padding-top: 0px;}
.p-tb-a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.i-a-c{
  display: flex;
  align-items: center;
}
.absolute-mid{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

h2{
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 62px;
  margin: 20px;
  /* identical to box height, or 129% */
}
h3{
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 200;
  font-size: 41px;
  line-height: 50px;
  /* identical to box height */
}
h4{
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
}

p.p1{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 125%;
  /* or 40px */
}
p.p2{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin: 20px;
}
p.p3{
  //font-family: FF Mark Pro;
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
}

img{background: #C4C4C4;}

button.btn.btn-outline-4F9BC1{
  //position: absolute;
  width: 230px;
  height: 59px;
  //left: 608px;
  //top: 263px;

  border: 2px solid #4F9BC1;
  box-sizing: border-box;
  border-radius: 24px;

  text-align: center;
  background-color:transparent;
  button:hover {
    background-color: #4F9BC1;
    //color: white;
  }

  //font-family: "MarkPro-TestFont";
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #4F9BC1;
}


button.btn.btn-outline-254B77{
  //position: absolute;
  width: 356px;
  height: 59px;
  //left: 608px;
  //top: 263px;

  border: 2px solid #254B77;
  box-sizing: border-box;
  border-radius: 24px;

  text-align: center;
  background-color:transparent;
  button:hover {
    background-color: #254B77;
    //color: white;
  }

  //font-family: "MarkPro-TestFont";
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #254B77;
}

button.btn.btn-outline-B0E7FF{
  //position: absolute;
  height: 59px;
  //left: 608px;
  //top: 263px;

  border: 2px solid #B0E7FF;
  box-sizing: border-box;
  border-radius: 24px;

  text-align: center;
  background-color:transparent;
  button:hover {
    background-color: #B0E7FF;
    //color: white;
  }

  //font-family: "MarkPro-TestFont";
  font-family: 'Montserrat', Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #B0E7FF;
}

input{
  //width: ;
  height: 49px;
  //left: 318px;
  //top: 251px;
  background: #FFFFFF;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin-right:0px;
  margin-bottom: 25px;
  ::placeholder{
    font-family: 'Montserrat', Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 111%;
    color: #8E8E8E;
  }
}

//.full{width: 100%}

/////////////////////////_about///////////////////////////
.hero{
  width: 100%;
  .container {
    width: 100%;
    height: 536px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;
    //background: #869791;
    .row {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin:0 auto;
      align-items: center;
      text-align: center;
      //background: #F2607B;
      .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        //background: #6f42c1;
        //border: #3cb582 0.2cm;
        .picOnLeft{
          text-align: center;
          //display: flex;
          //align-items: center;
          margin-left: auto;
          margin-right: auto;
          img{
            width: 470px;
            height: 373px;
            //position: absolute;
            //left: 15%;
          }
        }

        .textOnRight{
          width: 90%;
          height: 444px;
          //background: #F2607B;
          text-align: center;
          display: flex;
          align-items: center;
          //flex-direction: column;
          .contentCenter{
            position: absolute;
            //width: 488px;
            //height: 186px;
            //left: 98px;
            //top: 78px;
            width: 70%;
            left: 10%;
            //background: #3cb582;
          }
        }
      }
      //.offset-lg-2{
      //  height: 536px;
      //}
      .content{
        //width: 940px;
      }
    }
  }
}

.team {
  width: 100%;
  .container {
    width: 100%;
    height: 863px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;
    //background: #869791;
    .insider{
      //background: #3cb582;
      //position: absolute;
      padding-left: 10%;
      padding-right: 10%;
      .rowI{
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        //background: #F2607B;
      }
      .content{
        //.col-lg-3.col-md-6.col-sm-12{
        //  background: #3cb582;
        //}
        h4{width:240px;}
        ic.ic-lg.ic-badge.bg-primary-100.mb-36{
          width: 152px;
          height: 169px;
          background: #C4C4C4;
        }
      }
    }
  }
}

.launching{
  height: 694px;
  display: flex;
  align-items: center;
  form{
    text-align: left;
    .form-row{
      display: flex;
      flex-direction: row;
      padding: 0;
      //background: #6f42c1;
      margin-bottom: 15px;
    }
    .form-control-name{
      //position: absolute;
      width: 334px;
      margin-left: 5px;
      margin-right: 30px;

    }
    .form-control-email{
      //position: absolute;
      width: 704px;
    }
    .form-control-zipcode{
      width: 173px;
    }
    .mb-0{
      width: 100%;
      text-align: center;
    }
  }
}

/////////////////////////_product///////////////////////////
.h-1152px{height: 1152px;}
//.width-403px{width:403px; }
//.width-526px{width:525.46px;}

.container{
  //background: #F2607B;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.row{
  //background: #3cb582;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.chart{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.width-100percent{width: 100%;}
.w-100p{width: 100%;}
.h-100p{height: 100%;}
.margin_top-50px{
  margin-top: 50px;
}

.h-658px{height: 658px;}
//.card-f-heading{
//  width: 89px;
//  height: 97.19px;
//  text-align: center;
//  //background: #3cb582;
//  .w-100p.h-100p.t-center{
//    //display: block;
//    //text-align: center;
//    background: #F2607B;
//    img{
//      //width: 89px;
//      //height: 97.19px;
//      //width: 100%;
//      height: 100%;
//      //display: inline-block;
//    //  max-width:100%;     max-height:100%
//    //  position:absolute;
//      top:-50%;left:-50%;
//      //  display:block;
//       //visibility:hidden;
//      position:static;
//    }
//  }
//
//}
.h-1539px{height: 1539px;}
.w-1109px{
  width: 1109px;
  //background: #F2607B;
}
.topline{
  border-top: 2px solid #FFFFFF;
  margin-top: 50px;
  padding-top: 17px;
  //text-align: left;
  //background: #3cb582;
}
.w-511px{
  width: 511px;
  position: relative;
  left: -19px;
  //background: #F2607B
}
.FAQs{
  .content{
    margin-top: 82px;
    margin-bottom: 23px;
    button{
      width: 185px;
    }
  }
}
.h-700px{height: 750px;}
.whyBlip{
  background: transparent;
  width: 100%;
}









