.services-conference .topic .content .card {
    height: 500px
}

.services-conference .topic .content .card-img-overlay {
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(24, 59, 86, 0), #152532)
}

.services-conference .topic .content .card img {
    height: 500px
}

.services-conference .speaker {
    background-image: linear-gradient(to bottom, #f8fbff, rgba(250, 251, 251, 0))
}

.services-conference .archive .box-shadow {
    box-shadow: -50px 50px 50px 0 rgba(0, 0, 0, 0.05)
}

.services-conference .archive .card {
    height: 500px
}

.services-conference .archive .card img,
.services-conference .archive .card-img-overlay {
    height: 500px
}

.services-conference .ticket .box-shadow {
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.05)
}

.services-conference .footer {
    padding-top: 128px
}

.services-conference1 header .navbar {
    padding-top: 20px;
    padding-bottom: 20px
}

.services-conference1 header .hero {
    padding-top: 96px;
    padding-bottom: 100px
}

.services-conference1 header .hero-left>p {
    font-size: 20px !important;
    line-height: 36px !important
}

.services-conference1 .topic .content .card {
    height: 500px
}

.services-conference1 .topic .content .card-img-overlay {
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(24, 59, 86, 0), #152532)
}

.services-conference1 .topic .content .card img {
    height: 500px
}

.services-conference1 .speaker {
    background-image: linear-gradient(to bottom, #f8fbff, rgba(250, 251, 251, 0))
}

.services-conference1 .archive .box-shadow {
    box-shadow: -50px 50px 50px 0 rgba(0, 0, 0, 0.05)
}

.services-conference1 .archive .card {
    height: 500px
}

.services-conference1 .archive .card img,
.services-conference1 .archive .card-img-overlay {
    height: 500px
}

.services-conference1 .ticket .box-shadow {
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.05)
}

.services-conference1 .footer {
    padding-top: 128px
}