.services-rent {
  // header
  header {
    // hero
    .hero-mobile {
      padding-left: 0;
      padding-right: 0;

      .hero-top {
        background-image: url("../images/covers/cover-1@2x.png");
        background-repeat: no-repeat;
        background-size: cover;

        .overlay {
          background-image: linear-gradient(214deg, rgba(53, 109, 143, 0.6), rgba(24, 59, 86, 0.5) 1%);
          padding-top: 52px;
          padding-bottom: 150px;

          .content {
            color: white;
          }
        }
      }

      .hero-bottom {
        margin-top: -100px;

        .card {
          margin-left: 16px;
          margin-right: 16px;
          background: $s-color-white;
          padding: 35px 24px;
          border-radius: 8px;
          border: none;
          box-shadow: 0 15px 50px -10px rgba(21, 37, 72, 0.1);
        }
      }
    }

    .hero {
      margin-left: 24px;
      margin-right: 24px;

      .card {
        border-radius: 1rem;
        border: none;

        &-img {
          border-radius: 1rem;

          &-overlay {
            background-image: linear-gradient(248deg, rgba(53, 109, 143, 0.5), rgba(24, 59, 86, 0.75));
            border-radius: 1rem;
            padding-top: 130px;
            padding-bottom: 48px;

            .left {
              display: flex;
              flex-direction: column;

              &-bottom {
                margin-top: 122px;

                ul {
                  display: flex;
                  align-items: center;

                  li {
                    margin-right: 1rem;

                    img {
                      width: 24px;
                      height: 24px;
                      margin-right: 8px;
                    }

                    span {
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .card-form {
        padding: 32px;
        border-radius: .5rem;
        box-shadow: 0 15px 50px -10px rgba(21, 37, 72, 0.1);
      }
    }
  }

  // tips
  .tips {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  // step
  .step {
    padding-top: 144px;

    .content {
      padding-top: 48px;

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .number {
      width: 48px;
      height: 48px;
      border: solid 1px rgba($s-color-primary, .18);
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      &-sec {
        width: 36px;
        height: 36px;
        box-shadow: 0 10px 15px 0 rgba(21, 37, 71, 0.15);
        background-color: rgba($s-color-primary, .9);
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'hk_groteskbold', sans-serif;
        font-weight: bold;
      }
    }

    .illustration {
      img {
        margin-left: -145px;
      }
    }
  }

  // quotes
  .quotes {
    padding-top: 94px;
    padding-bottom: 200px;

    .content {
      padding: 24px;

      .fas {
        font-size: 40px;
      }

      p {
        font-family: 'hk_groteskregular', sans-serif;
        font-size: 40px !important;
        line-height: 60px !important;
        letter-spacing: .1px;
      }

      span {
        font-size: 18px;
      }
    }

    .right {
      display: flex;
      justify-content: center;
    }

    &-user {
      width: 460px;
      height: 460px;
      border-radius: .5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
      }
    }
  }

  // features
  .features {
    background-image: linear-gradient(to bottom, #f8fbff, rgba(250, 251, 251, 0));
    padding-top: 140px;
    padding-bottom: 160px;

    .heading {
      margin-bottom: 126px;
    }

    .content {
      &-top {
        margin-bottom: 144px;
      }

      .left {
        padding: 27px 36px 27px 64px;
      }

      .right {
        display: flex;
        justify-content: center;

        .features-photos {
          width: 326px;
          height: 360px;
          border-radius: .5rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: .5rem;
          }
        }
      }
    }
  }

  // blog
  .blog {
    padding-top: 144px;

    .heading {
      margin-bottom: 64px;
    }

    .content {
      .card-article {
        height: 520px;

        .card-img {
          height: 515px;
        }
      }
    }

  }

  // information
  .information {
    padding-top: 147px;
    padding-bottom: 147px;

    .heading {
      margin-bottom: 65px;
    }
  }

  // cta
  .cta {
    .content {
      background-image: url("../images/covers/cover-3@2x.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      padding: 96px;
      border-radius: 1rem;

      .card-f {
        width: 388px;

        &-body {
          .btn {
            box-shadow: 0 10px 25px 0 rgba(21, 37, 72, 0.1);
          }
        }
      }
    }
  }

  // footer
  .footer {
    padding-top: 128px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .services-rent {

    // tips
    .tips {
      padding-top: 80px;
      padding-bottom: 40px;

      .heading {
        text-align: center;
        margin-bottom: 40px;
      }

      .card-f {
        margin-bottom: 40px;
      }
    }
    // step
    .step {
      padding-top: 80px;

      .content {
        .left {
          .illustration {
            margin-bottom: 40px;

            img {
              margin-left: 0 !important;
              width: 100%;
            }
          }
        }

        .right {
          .card-f {
            &-heading {
              margin-bottom: 24px;
            }

            .btn {
              margin-left: 0;
            }
          }
        }
      }
    }

    // cta
    .cta {
      .container {
        padding-left: 0;
        padding-right: 0;

        .content {
          border-radius: 0;
          padding: 64px 24px;

          .card-f {
            width: auto !important;
          }
        }
      }
    }

    // quotes
    .quotes {
      padding-top: 80px;
      padding-bottom: 80px;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p {
          font-size: 28px !important;
          line-height: 44px !important;
        }

        span {
          font-size: 1rem;
        }
      }

      &-user {
        display: none;
      }
    }

    // our feature
    .features {
      padding-top: 80px;
      padding-bottom: 80px;

      .heading {
        margin-bottom: 64px;
      }

      .content {
        &-top {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 64px;

          .right {
            margin-bottom: 40px;
          }
        }

        &-bottom {
          .right {
            margin-bottom: 40px;
          }

          .left {
            .c-list {
              li {
                width: 100%;
                display: flex;
                justify-content: center;
              }
            }
          }
        }


        .left {
          padding: 0 !important;
          text-align: center;
        }
      }
    }

    // blog
    .blog {
      padding-top: 80px;

      .card-article {
        margin-bottom: 32px;
        height: 400px !important;

        &-4 {
          height: auto !important;
        }

        .card-img {
          height: 395px !important;
        }
      }
    }

    // information
    .information {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    // footer
    .footer {
      padding-top: 48px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .services-rent {

    // tips
    .tips {
      padding-top: 80px;
      padding-bottom: 40px;

      .heading {
        text-align: center;
        margin-bottom: 40px;
      }

      .card-f {
        margin-bottom: 40px;
      }
    }
    // step
    .step {
      padding-top: 80px;

      .content {
        .left {
          .illustration {
            margin-bottom: 40px;

            img {
              margin-left: 0 !important;
              width: 100%;
            }
          }
        }

        .right {
          .card-f {
            &-heading {
              margin-bottom: 24px;
            }

            .btn {
              margin-left: 0;
            }
          }
        }
      }
    }

    // cta
    .cta {
      .container {
        padding-left: 0;
        padding-right: 0;

        .content {
          border-radius: 0;
          padding: 64px 24px;

          .card-f {
            width: auto !important;
          }
        }
      }
    }

    // quotes
    .quotes {
      padding-top: 80px;
      padding-bottom: 80px;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p {
          font-size: 28px !important;
          line-height: 44px !important;
        }

        span {
          font-size: 1rem;
        }
      }

      &-user {
        display: none;
      }
    }

    // our feature
    .features {
      padding-top: 80px;
      padding-bottom: 80px;

      .heading {
        margin-bottom: 64px;
      }

      .content {
        &-top {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 64px;

          .right {
            margin-bottom: 40px;
          }
        }

        &-bottom {
          .right {
            margin-bottom: 40px;
          }

          .left {
            .c-list {
              li {
                width: 100%;
                display: flex;
                justify-content: center;
              }
            }
          }
        }


        .left {
          padding: 0 !important;
          text-align: center;
        }
      }
    }

    // blog
    .blog {
      padding-top: 80px;

      .card-article {
        margin-bottom: 32px;
        height: 400px !important;

        &-4 {
          height: auto !important;
        }

        .card-img {
          height: 395px !important;
        }
      }
    }

    // information
    .information {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    // footer
    .footer {
      padding-top: 48px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .services-rent {

    // tips
    .tips {
      padding-top: 80px;
      padding-bottom: 40px;

      .heading {
        text-align: center;
        margin-bottom: 40px;
      }

      .card-f {
        margin-bottom: 40px;
      }
    }
    // step
    .step {
      padding-top: 80px;

      .content {
        .left {
          .illustration {
            margin-bottom: 40px;

            img {
              margin-left: 0 !important;
              width: 100%;
            }
          }
        }

        .right {
          .card-f {
            &-heading {
              margin-bottom: 24px;
            }

            .btn {
              margin-left: 0;
            }
          }
        }
      }
    }

    // cta
    .cta {
      .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100%;

        .content {
          border-radius: 0;
          padding: 64px;
        }
      }
    }

    // quotes
    .quotes {
      padding-top: 80px;
      padding-bottom: 80px;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p {
          font-size: 40px !important;
          line-height: 60px !important;
        }

        span {
          font-size: 18px;
        }
      }

      &-user {
        margin-top: 64px;
        width: 320px;
        height: 320px;
      }
    }

    // our feature
    .features {
      padding-top: 80px;
      padding-bottom: 80px;

      .heading {
        margin-bottom: 64px;
      }

      .left {
        padding: 0 !important;
      }

      .content-top {
        .features-photos {
          position: absolute;
          right: 0;
          margin-right: -120px;
        }
      }

      .content-bottom {
        .features-photos {
          position: absolute;
          left: 0;
          margin-left: -120px;
        }
      }
    }

    // blog
    .blog {
      padding-top: 80px;

    }

    // information
    .information {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    // footer
    .footer {
      padding-top: 48px;
    }
  }
}
