// Breakpoint viewport sizes and media queries.
//
// (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$breaks: (
        xs: xs,
        sm: sm,
        md: md,
        lg: lg,
        xl: xl
);

$breakpoints-xs: 0 !default;
$breakpoints-sm: 576px !default;
$breakpoints-md: 768px !default;
$breakpoints-lg: 992px !default;
$breakpoints-xl: 1200px !default;

@mixin breakpoint($point) {
  @if $point == xs { 
    @media (max-width: ($breakpoints-sm - 0.02px)) { @content; }
  }
  @else if $point == sm {
    @media (min-width: $breakpoints-sm) and (max-width: ($breakpoints-md - 0.02px)) { @content; }
  }
  @else if $point == md {
    @media (min-width: $breakpoints-md) and (max-width: ($breakpoints-lg - 0.02px))  { @content; }
  }
  @else if $point == lg {
    @media (min-width: $breakpoints-lg) and (max-width: ($breakpoints-xl - 0.02px)) { @content; }
  }
  @else if $point == xl {
    @media (min-width: $breakpoints-xl) { @content; }
  }
}
