// Color

$s-color-primary: #1565D8;
$s-color-secondary: #506690;
$s-color-success: #36B37E;
$s-color-info: #00B8D9;
$s-color-warning: #FAAD13;
$s-color-danger: #F2607B;
$s-color-black: #183B56;
$s-color-gray: #5A7184;
$s-color-gray-light: #B3BAC5;
$s-color-white: white; 
$s-color-border: #E5EAF4;
$s-color-light-blue: #f9fbfe;
$s-color-iris-blue: #00b8d9;
$s-color-bright-red: #e95432;
$s-color-regal-blue: #183b56;

$s-color-facebook	: #1565d8;
$s-color-instagram	: #F56040;
$s-color-twitter	: #00b8d9;
$s-color-youtube	: #e95432;

$s-color-light-blue-100: rgba(#f9fbfe, .1);
$s-color-iris-blue-100: rgba(#00b8d9, .1);
$s-color-bright-red-100: rgba(#e95432, .1);

$s-color-light-blue-40: rgba(#f9fbfe, .04);
$s-color-iris-blue-40: rgba(#00b8d9, .04);
$s-color-bright-red-40: rgba(#e95432, .04);

$s-color-primary-100: rgba($s-color-primary, .1);
$s-color-secondary-100: rgba($s-color-secondary, .1);
$s-color-success-100: rgba($s-color-success, .1);
$s-color-info-100: rgba($s-color-info, .1);
$s-color-warning-100: rgba($s-color-warning, .1);
$s-color-danger-100: rgba($s-color-danger, .1);
$s-color-black-100: rgba($s-color-black, .1);
$s-color-gray-100: rgba($s-color-gray, .1);
$s-color-gray-light-100: rgba($s-color-gray-light, .1);
$s-color-white-100: rgba($s-color-white, .1);

$s-color-primary-200: rgba($s-color-primary, .2);
$s-color-secondary-200: rgba($s-color-secondary, .2);
$s-color-success-200: rgba($s-color-success, .2);
$s-color-info-200: rgba($s-color-info, .2);
$s-color-warning-200: rgba($s-color-warning, .2);
$s-color-danger-200: rgba($s-color-danger, .2);
$s-color-black-200: rgba($s-color-black, .2);
$s-color-gray-200: rgba($s-color-gray, .2);
$s-color-gray-light-200: rgba($s-color-gray-light, .2);
$s-color-white-200: rgba($s-color-white, .2);

$s-color-primary-300: rgba($s-color-primary, .3);
$s-color-secondary-300: rgba($s-color-secondary, .3);
$s-color-success-300: rgba($s-color-success-100, .3);
$s-color-info-300: rgba($s-color-info, .3);
$s-color-warning-300: rgba($s-color-warning, .3);
$s-color-danger-300: rgba($s-color-danger, .3);
$s-color-black-300: rgba($s-color-black, .3);
$s-color-gray-300: rgba($s-color-gray, .3);
$s-color-gray-light-300: rgba($s-color-gray-light, .3);
$s-color-white-300: rgba($s-color-white, .3);

$s-color-primary-400: rgba($s-color-primary, .4);
$s-color-secondary-400: rgba($s-color-secondary, .4);
$s-color-success-400: rgba($s-color-success, .4);
$s-color-info-400: rgba($s-color-info, .4);
$s-color-warning-400: rgba($s-color-warning, .4);
$s-color-danger-400: rgba($s-color-danger, .4);
$s-color-black-400: rgba($s-color-black, .4);
$s-color-gray-400: rgba($s-color-gray, .4);
$s-color-gray-light-400: rgba($s-color-gray-light, .4);
$s-color-white-400: rgba($s-color-white, .4);

$s-color-primary-500: rgba($s-color-primary, .5);
$s-color-secondary-500: rgba($s-color-secondary, .5);
$s-color-success-500: rgba($s-color-success, .5);
$s-color-info-500: rgba($s-color-info, .5);
$s-color-warning-500: rgba($s-color-warning, .5);
$s-color-danger-500: rgba($s-color-danger, .5);
$s-color-black-500: rgba($s-color-black, .5);
$s-color-gray-500: rgba($s-color-gray, .5);
$s-color-gray-light-500: rgba($s-color-gray-light, .5);
$s-color-white-500: rgba($s-color-white, .5);

$s-color-primary-600: rgba($s-color-primary, .6);
$s-color-secondary-600: rgba($s-color-secondary, .6);
$s-color-success-600: rgba($s-color-success, .6);
$s-color-info-600: rgba($s-color-info, .6);
$s-color-warning-600: rgba($s-color-warning, .6);
$s-color-danger-600: rgba($s-color-danger, .6);
$s-color-black-600: rgba($s-color-black, .6);
$s-color-gray-600: rgba($s-color-gray, .6);
$s-color-gray-light-600: rgba($s-color-gray-light, .6);
$s-color-white-600: rgba($s-color-white, .6);

$s-color-primary-700: rgba($s-color-primary, .7);
$s-color-secondary-700: rgba($s-color-secondary, .7);
$s-color-success-700: rgba($s-color-success, .7);
$s-color-info-700: rgba($s-color-info, .7);
$s-color-warning-700: rgba($s-color-warning, .7);
$s-color-danger-700: rgba($s-color-danger, .7);
$s-color-black-700: rgba($s-color-black, .7);
$s-color-gray-700: rgba($s-color-gray, .7);
$s-color-gray-light-700: rgba($s-color-gray-light, .7);
$s-color-white-700: rgba($s-color-white, .7);

$s-color-primary-800: rgba($s-color-primary, .8);
$s-color-secondary-800: rgba($s-color-secondary, .8);
$s-color-success-800: rgba($s-color-success, .8);
$s-color-info-800: rgba($s-color-info, .8);
$s-color-warning-800: rgba($s-color-warning, .8);
$s-color-danger-800: rgba($s-color-danger, .8);
$s-color-black-800: rgba($s-color-black, .8);
$s-color-gray-800: rgba($s-color-gray, .8);
$s-color-gray-light-800: rgba($s-color-gray-light, .8);
$s-color-white-800: rgba($s-color-white, .8);

$s-color-primary-900: rgba($s-color-primary, .9);
$s-color-secondary-900: rgba($s-color-secondary, .9);
$s-color-success-900: rgba($s-color-success, .9);
$s-color-info-900: rgba($s-color-info, .9);
$s-color-warning-900: rgba($s-color-warning, .9);
$s-color-danger-900: rgba($s-color-danger, .9);
$s-color-black-900: rgba($s-color-black, .9);
$s-color-gray-900: rgba($s-color-gray, .9);
$s-color-gray-light-900: rgba($s-color-gray-light, .9);
$s-color-white-900: rgba($s-color-white, .9);


