.install-wrap {
    border-radius: 16px;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
    background-color: #0f1f2b;
    padding: 32px
}

.install-wrap .nav-quickstart .nav-item .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #5A7184;
    border-radius: .375rem;
    background-color: rgba(255, 255, 255, 0.05);
    padding: .5rem 1.125rem;
    margin-right: .75rem
}

.install-wrap .nav-quickstart .nav-item .nav-link.active {
    background-color: #fff
}

.install-wrap .nav-quickstart .nav-item:last-child .nav-link {
    margin-right: 0
} 

.auth.auth-sigin-basic .desc,
.auth.auth-sign-illustration .desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.auth.auth-sigin-basic .desc span,
.auth.auth-sign-illustration .desc span {
    background-color: white;
    padding: .875rem;
    position: absolute;
    z-index: 11
}

.auth.auth-sigin-basic .desc .hr,
.auth.auth-sign-illustration .desc .hr {
    width: 100%;
    border-bottom: 2px solid #e5eaf4
}

.auth.auth-signin-popup .modal .ill-modal-images {
    height: 699px
}

.auth.auth-signin-left-cover .auth-left {
    height: 900px
}

.auth.auth-signin-left-cover .auth-left .logo {
    position: absolute;
    margin-left: 15%;
    margin-top: 40px
}

.auth.auth-signin-left-cover .auth-left .bg-cover {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.auth.auth-signin-left-cover .auth-right {
    display: flex;
    justify-content: center;
    align-items: center
}

.auth.auth-signin-left-cover .auth-right .content {
    width: 360px
}

.auth.auth-signin-right-cover .auth-left {
    display: flex;
    flex-direction: column;
    align-items: center
}

.auth.auth-signin-right-cover .auth-left .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px
}

.auth.auth-signin-right-cover .auth-left .logo a {
    width: 360px
}

.auth.auth-signin-right-cover .auth-left .content {
    width: 360px
}

.auth.auth-signin-right-cover .auth-right {
    height: 900px
}

.auth.auth-signin-right-cover .auth-right .bg-cover {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.auth.auth-signin-right-cover .auth-right .content {
    width: 472px
}

.auth.auth-signin-right-cover .auth-right .content #shape-1 {
    right: 0;
    position: absolute;
    margin-top: -100px;
    margin-right: -40px
}

.auth.auth-signin-right-cover .auth-right .content #shape-2 {
    right: 0;
    position: absolute;
    margin-top: 40px;
    margin-right: -40px
}

.auth.auth-signin-right-cover .auth-right .content #shape-3 {
    position: absolute;
    margin-top: 40px;
    margin-left: -40px
}